.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  vertical-align: middle;
}

.dash-table {
  border-collapse:collapse;
}

.accordion-toggle:hover {
  cursor: pointer;
}

/**
 * Profile image component
 */
.profile-header-container{
  margin: 0 auto;
  text-align: center;
}

.profile-header-img {
  padding: 5px;
}

.profile-header-img > img.img-circle {
  width: 120px;
  height: 120px;
  border: 2px solid #337ab7;
}

/**
 * Ranking component
 */
.rank-label-container {
  margin-top: -19px;
  text-align: center;
}

.label.label-default.rank-label {
  background-color: #337ab7;
  padding: 5px 10px 5px 10px;
  border-radius: 27px;
}