<template name="profile">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Profile</h3>
    </div>
    <div class="panel-body">
      <div class="profile-header-container">
        <div class="profile-header-img">
          <img class="img-circle" src="{{profileImage}}" />
          <!-- badge -->
          <div class="rank-label-container">
            <span class="label label-default rank-label">{{userProgress}} points</span>
          </div>
          <br>
          <div>{{currentUser.profile.name}}</div>
        </div>
      </div>
    </div>
  </div>
</template>
